GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
PROMETHEUS_BIND_ADDRESS=127.0.0.1
ALERTMANAGER_BIND_ADDRESS=127.0.0.1
NODE_EXPORTER_BIND_ADDRESS=127.0.0.1
CADVISOR_BIND_ADDRESS=127.0.0.1
LOKI_BIND_ADDRESS=127.0.0.1
GRAFANA_BIND_ADDRESS=127.0.0.1
