MYSQL_ROOT_PASSWORD=change-me-use-a-long-random-secret
MYSQL_USER=dev
MYSQL_PASSWORD=change-me-use-a-long-random-secret
MYSQL_DATABASE=app_dev
MYSQL_BIND_ADDRESS=127.0.0.1
PHPMYADMIN_BIND_ADDRESS=127.0.0.1
TZ=Asia/Jakarta

MYSQL_EXPORTER_USER=mysqld_exporter
MYSQL_EXPORTER_PASS=change-me-use-a-long-random-secret
