POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-use-a-long-random-secret
POSTGRES_DB=initial-db
POSTGRES_BIND_ADDRESS=127.0.0.1

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=change-me-use-a-long-random-secret
PGADMIN_BIND_ADDRESS=127.0.0.1
TZ=Asia/Jakarta

POSTGRES_EXPORTER_USER=postgres_exporter
POSTGRES_EXPORTER_PASS=change-me-use-a-long-random-secret
POSTGRES_EXPORTER_DB=postgres
